.social-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    

    @media screen and (max-width:1024px) {
        max-width: 368px;
        align-items: center;    
        margin: auto;
      }
    
}